<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>首页</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="stylesheet" type="text/css" href="Public/css/index.css"/>
		<link rel="stylesheet" type="text/css" href="Public/css/public.css"/>
		<link rel="stylesheet" type="text/css" href="Public/bootstrap/css/bootstrap.min.css">
		<script type="text/javascript" src="Public/bootstrap/js/jquery-1.12.3.min.js"></script>
		<script type="text/javascript" src="Public/bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="Public/js/lunbo.js" ></script>
		<style type="text/css">
			.example {
				width: 100%;
				height: 150px;
				font-size: 40px;
				text-align: center;
				margin-top: 3px;
				background-color: #464576;
			}
			.carousel-item{
				line-height:141px;
				color: #fff;
				font-family:  Arial Black;
			}

		</style>
	</head>
	
	<body>
		<!--顶部导航-->
		<div class="header">
			<div class="diqu">
				<img src="Public/img/tubiao.png"/>
				<a href="#">保定<span>∨</span></a>
			</div>
			<div class="top_nav">
				<div class="hot hongxian">
					<a href="javascript:;" class="hongzi">正在热映</a>
				</div>
				<div class="noshow">
					<a href="javascript:;">即将上映</a>
				</div>
			</div>
		</div>
            
		<!--轮播-->
		<div class="example">
			<div class="ft-carousel" id="carousel_1">
				<ul class="carousel-inner">
					<li class="carousel-item" style="width:100% !important;"><img src="Public/img/lunbo/banner1.jpg" /></li>
					<li class="carousel-item"><img src="Public/img/lunbo/banner2.jpg" /></li>
					<li class="carousel-item"><img src="Public/img/lunbo/banner1.jpg" /></li>
					<li class="carousel-item"><img src="Public/img/lunbo/banner4.jpg" /></li>
					<li class="carousel-item"><img src="Public/img/lunbo/banner2.jpg" /></li>
					<li class="carousel-item"><img src="Public/img/lunbo/banner4.jpg" /></li>
				</ul>
			</div>
		</div>
		
		<!--影片列表-->
		<div class="main" id="show">
                    {foreach $MovieList as $k=>$v}
			<div  data-id="{$v.id}">
				<img src="{$v.photo}"/>
				<div class="main_content">
					<h5>{$v.name}</h5>
					<div>
						<img src="Public/img/wujiao.png"/>
						<img src="Public/img/wujiao.png"/>
						<img src="Public/img/wujiao.png"/>
						<img src="Public/img/wujiao.png"/>
						<img src="Public/img/wujiao.png"/>
						<span>{$v.score["score"]}</span>
					</div>
					<p>导演:{$v.director}</p>
					<p>主演:{$v.performer_id}</p>
				</div>
				<div class="goupiao">
					<a href="index.php?m=Home&c=Index&a=yingyuan&m_id={$v.id}">购票</a>
					<p>特惠</p>
				</div>
			</div>
		{/foreach}	
		</div>
                
                <!--未上映-->
                <div class="main" id="noshow">
                    {foreach $soonMovie as $z=>$m}
			<div  data-id="{$m.id}">
				<img src="{$m.photo}"/>
				<div class="main_content">
					<h5>{$m.name}</h5>
					<div>
						<img src="Public/img/wujiao.png"/>
						<img src="Public/img/wujiao.png"/>
						<img src="Public/img/wujiao.png"/>
						<img src="Public/img/wujiao.png"/>
						<img src="Public/img/wujiao.png"/>
						<span>{$m.score["score"]}</span>
					</div>
					<p>导演:{$m.director}</p>
					<p>主演:{$m.performer_id}</p>
				</div>
				<div class="goupiao">
					<a href="index.php?m=Home&c=Index&a=yingyuan?m_id={$m.id}">购票</a>
					<p>特惠</p>
				</div>
			</div>
		{/foreach}	
		</div>
                
		<!--底部导航-->
		<div class="bottom_nav">
			<a href="index.php?m=Home&c=Index&a=Index">
				<div class="">
					<img src="Public/img/hotred.png"/>
					<p class="color">热映</p>
				</div>
			</a>
			<a href="index.php?m=Home&c=Index&a=yingyuan">
				<div class="">
					<img src="Public/img/yingyuan.png"/>
					<p>影院</p>
				</div>
			</a>
			<a href="index.php?m=Home&c=Wode&a=WodeInfo">
				<div class="wode">
					<img src="Public/img/wode.png"/>
					<p>我的</p>
				</div>
			</a>
		</div>
	</body>
	<script type="text/javascript">
		//热映上映转换
		$(".noshow").click(function(){
			$(".example").hide();
                        $("#show").hide();
			$(".hot").removeClass("hongxian");
			$(".hot").find("a").removeClass("hongzi");
			$(this).addClass("hongxian");
			$(this).find("a").addClass("hongzi");
                        $("#noshow").show();
		});
		$(".hot").click(function(){
			$(".example").show();
                        $("#show").show();
			$(".noshow").removeClass("hongxian");
			$(".noshow").find("a").removeClass("hongzi");
			$(this).addClass("hongxian");
			$(this).find("a").addClass("hongzi");
                         $("#noshow").hide();
		});
		
		//跳转影片详情页面
		$(".main div").click(function(){
			var id = $(this).attr("data-id");
			window.location.href="index.php?m=Home&c=Xiangqing&a=XiangqingInfo&m_id="+id;
		});
		
		
		$("#carousel_1").FtCarousel();
	
		$("#carousel_2").FtCarousel({
			index: 1,
			auto: false
		});
	
		$("#carousel_3").FtCarousel({
			index: 0,
			auto: true,
			time: 3000,
			indicators: false,
			buttons: true
		});
	</script>
</html>
