<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<script src="../js/mui.min.js"></script>
		<link rel="stylesheet" href="../css/mui.min.css" />
		<script type="text/javascript" src="../js/jquery-3.2.1.min.js"></script>
	</head>

	<body>

		<header class="mui-bar mui-bar-nav ">

			<!--左边的 图标-->
			<span class="mui-icon mui-icon-bars mui-icon-arrowleft mui-action-back" id="header_left"></span>
			<a class="mui-title">登录页面</a>
			<!-- 侧滑导航根容器 -->

			<!--右边的图标-->
			<span class="mui-icon mui-icon-more mui-pull-right" id="header_right"></span>
		</header>

		<div class="mui-content">
			<form class="mui-input-group list">
				<div class="mui-input-row">
					<label>用户名</label>
					<input id="username" type="text" class="mui-input-clear" placeholder="请输入用户名">
				</div>
				<div class="mui-input-row">
					<label>密码</label>
					<input id="userpwd" type="password" class="mui-input-password" placeholder="请输入密码">
				</div>
				<div class="mui-button-row">
					<button type="button" class="mui-btn mui-btn-primary" id="register">登录</button>
				</div>
				
			</form>
		</div>
	</body> 

</html>
<script type="text/javascript" charset="utf-8">
	//mui的初始化，做mui的配置项，每个窗口必须存在
	mui.init();

	mui.plusReady(function() {

		//接收传参
		var info = plus.webview.currentWebview();
		//			当前窗口变量名
		console.log(info.title);
		 
		//返回上一个页面， 
		document.getElementById("header_left").addEventListener("tap", function() {
			mui.back();
		});
		document.getElementById("header_right").addEventListener("tap", function() {
			//					先选择要操作的这个id的窗口对象
			var info_info = plus.webview.getWebviewById("info_info");
			info_info.evalJS("redFix()");
		});
		document.querySelector("#register").addEventListener("tap",function(){
//			获取表单数据
			var username=$("#username").val();
			var userpwd=$("#userpwd").val();
			mui.ajax({
				type:"POST",
				url:"http://localhost/app/home/class/index.class.php?class=user&method=register",
				
				data:{name:username,pwd:userpwd,nickname:nickname},
				success:function(data){
					data=$.parseJSON(data);
					if(data.code==200){
						mui.toast("登录成功");
					}else{
						mui.toast(dta.message);
					}
					
				}
			})
		});
	
	});
	
</script>