<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title></title>
    <script src="../js/mui.min.js"></script>
    <link href="../css/mui.min.css" rel="stylesheet"/>
    <script type="text/javascript" src="../js/jquery-3.2.1.min.js" ></script>
</head>
<body>
	<!--<div class="mui-card-header" >
			<div class="mui-card-header mui-card-media">
				<img src="../images/3.jpg" />
				<div class="mui-media-body">
					
					<p style="color:salmon;font-size: 24px; margin-top: 3px;">立即登录</p>
				</div>
			</div>
			
		</div>
		-->
		
		
			
		<ul class="mui-table-view">  
			 
			<li class="mui-table-view-cell mui-media" style="margin-left: 15px;">
			
					<img class="mui-media-object mui-pull-left" src="../images/1.jpg" style="width:40px; height: 40px; border-radius:20px ;">
			
					
					<div class="mui-media-body list" > 
						<p class="mui-ellipsis" style="margin-top:8px; font-size: 23px; color: salmon;"><a href="#">立即登录</a></p>
					</div> 
				
			</li>
			
				
		</ul>
			
		
		
		

			<!--tab选项卡的样式-->
			<!--实现滑动的方法-->
			<div class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted fabu">
				<div class="mui-scroll">
					<a class="mui-control-item">
						关注
					</a>
					<a class="mui-control-item">
						发布
					</a>
					<a class="mui-control-item">
						视频
					</a>
					<a class="mui-control-item">
						直播
					</a>
					<a class="mui-control-item">
						图片
					</a>
				
				</div>
			</div>
			<div class="mui-content">
    <div class="mui-row" >
      
        </div>
        <div class="mui-col-sm-6">
            <li class="mui-table-view-cell"  style="list-style-type: none;">
               <a class="mui-navigate-right fabu" style="margin-top: 20px;" >
                   <span>我的发布</span>
                </a>
                <a class="mui-navigate-right" style="margin-top: 20px;" >
                   <span>我的投稿</span>
                </a>
                 <a class="mui-navigate-right" style="margin-top: 20px;">
                   <span>我的消息</span>
                </a>
                 <a class="mui-navigate-right" style="margin-top: 20px;">
                   <span>我的收藏</span>
                </a>
                 <a class="mui-navigate-right" style="margin-top: 20px;">
                   <span>我的游戏</span>
                </a>
                 <a class="mui-navigate-right" style="margin-top: 20px;">
                   <span>我的钱包</span>
                </a>
                 <a class="mui-navigate-right" style="margin-top: 20px;">
                   <span>设置</span>
                </a>
            </li>
        </div>
    </div>
</div>
			
		
</body>
</html>
<script type="text/javascript" charset="utf-8">
		//mui的初始化，做mui的配置项，每个窗口必须存在
      	mui.init();
      	mui.init();
	mui.plusReady(function() {
		//	需要添加监听事件
		mui(".list").on("tap", "a", function() {
			//		打开新窗口

			mui.openWindow({
				url: "login.html",
				id: "login",
				styles: {
					top: "0px", //新页面顶部位置
					bottom: "0px" //新页面底部位置
				
				},
					extras:{
				title:"登录"
					}
				// //自定义扩展参数，可以用来处理页面间传值

			})
		});
//		mui(".Release").on("tap", "a", function() {
//			//		打开新窗口
//
//			mui.openWindow({
//				url: "Release.html",
//				id: "Release",
//				styles: {
//					top: "0px", //新页面顶部位置
//					bottom: "0px" //新页面底部位置
//				
//				},
//					extras:{
//				title:"登录注册"
//					}
//				// //自定义扩展参数，可以用来处理页面间传值
//
//			})
//		});
			mui(".fabu").on("tap", "a", function() {
			//		打开新窗口

			mui.openWindow({
				url: "Release.html",
				id: "Release",
				styles: {
					top: "0px", //新页面顶部位置
					bottom: "0px" //新页面底部位置
				
				},
					extras:{
				title:"发布"
					}
				// //自定义扩展参数，可以用来处理页面间传值

			})
		});


	});
</script>