<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title></title>
    <script src="../js/mui.min.js"></script>
    <link href="../css/mui.min.css" rel="stylesheet"/>
    <script type="text/javascript" src="../js/jquery-3.2.1.min.js" ></script>
	<style type="text/css">
		#header .mui-pull-right{
			line-height: 45px;
		}
		#text{
			width:100%;
			min-height: 200px;
			padding: 10px;
			background: #FFFFFF;
		}
		#addimg{
			border: 2px solid rgb(163,163,163);
			width:100px;
			height: 100px;
			background: #FFFFFF;
			padding: 9px;
			margin-left:5px;
			overflow: hidden;
		}
		#addimg>img{
			width: 100%;
			height: 100%;
		}
		#preview{
			margin-left:5px;
			width: 100px;
			height: 100px;
		}
			
		#preview video{
			width: 100%;
			height: 100%;;
		}
			
	</style>
</head>
<body>
	<header id="header" class="mui-bar mui-bar-nav mui-bar-header">
		<span class="mui-icon mui-icon-back mui-back" id="header_left"></span>返回
		<span class="mui-pull-right" id="fabiao">发表</span>
	</header>
	<div class="mui-content">
		<p contenteditable="true" id="text"></p>
		<div id="addimg">
			<img src="../images/1.jpg" />
		</div>
		<div id="preview" style="display: none;">
			<video controls="controls" width="100%" id="myvideo">
				<source src="" id="mysource"></source>
			</video>
			<br />
			<button id="restart">重新上传</button>
		</div>
		<input type="hidden" name="videoUrl" value="" id="videoUrl"/>
		<input type="hidden" name="imgUrl" value="" id="imgUrl"/>
	</div>
</body>
</html>
<script type="text/javascript" charset="utf-8">
		//mui的初始化，做mui的配置项，每个窗口必须存在
      	mui.init();
      	document.getElementById("header_left").addEventListener("tap", function() {
			mui.back();
		});
      	mui.plusReady(function(){
      		
      		//点击添加视频
      		document.getElementById("addimg").addEventListener("tap",function(){
      			//判断是否在html+的流应用上使用
      			 if (mui.os.plus) { 
	        		//弹框
	                plus.nativeUI.actionSheet({ 
	                    title: "上传视频",//标题 
	                    cancel: "取消", //取消
	                    buttons:[ //按钮
                            {title:"摄像"}
                        ] 
	                }, function(b) { /*actionSheet 按钮点击事件*/ 
	                	if(b.index == 1){
	                		getVideo();
	                	}
	                }) 
            	}   
            	
      		});
      		 
      		//重新上传
      		document.getElementById("#restart").addEventListener("tap",function(){
      			 if (mui.os.plus) { 
	        		//弹框
	                plus.nativeUI.actionSheet({ 
	                    title: "上传视频",//标题 
	                    cancel: "取消", //取消
	                    buttons:[ //按钮
                            {title:"摄像"}
                        ] 
	                }, function(b) { /*actionSheet 按钮点击事件*/ 
	                	if(b.index == 1){
	                		getVideo(); 
	                	}
	                }) 
            	} 
      		});
      		
      		//点击发表发送内容
      		document.getElementById("fabiao").addEventListener("tap",function(){
      			var content = $("#text").val();
      			var videoUrl = $("#videoUrl").val();
      			var imageUrl = $("#imageUrl").val();
      			//用户id
      			var uid = plus.storage.getItem("user_id");
      			
      			//mui.ajax发送
      		});
      	});
      	
      	//摄像的方法
      	function getVideo(){
      		//调用摄像头对象
      		var cmr = plus.camera.getCamera();
            //获取相机开始录像
            cmr.startVideoCapture(function(p) {
            //录像
            plus.io.resolveLocalFileSystemURL(p, function(entry) {
            //通过URL参数获取目录对象或文件对象 就是获取到录像文件位置    
                console.log(p);//打印文件位置，可以直接用作上传路径
                
                //上传的地址
                var server="http://localhost/app/home/class/index.php?class=upload&method=uploadVideo";
                //获取等待的样式
                var wt=plus.nativeUI.showWaiting();
                //添加任务 
                var task=plus.uploader.createUpload(server,
					 {method:"POST"},
					 function(t,status){//t:返回的值，status是状态
			            //上传完成
			            if(status==200){
			                wt.close();
			                //上传成功
			                console.log("上传成功："+t.responseText);
			                //服务端返回的结果
			                var result = JSON.parse(t.responseText);
			                $('#mysource').attr('src',result.data.url);
			                //video重新加载
							document.querySelector('#myvideo').load();
//				                
			                $('#addimg').remove();
			                $('#preview').show();
			                $("#videoUrl").val(result.data.url);
			            }else{
//						        console.log("上传失败："+status);
							mui.toast("上传失败");
			                wt.close();
			            }
					}
				);

				task.addFile(p,{key:'myfile'});
				task.start();
            }, function(e) {
                console.log("读取录像文件错误：" + e.message);
            });

        }, function(e) {
            console.log("失败"); 
            plus.nativeUI.toast("录像失败！",{duration:"long"});
        }, {
            filename: "_doc/ca cxwdmera/",//文件保存目录
            index:2
        });
      	}
</script>