<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>登录</title>
		<link href="__BOOSTRAP__/dist/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="__BOOSTRAP__/dist/css/style.css" />
	</head>

	<body style="background-image: url(__BOOSIMG__/01d144554900b10000019ae9dee810.jpg);">
		<div class="container">
			<form style="margin-top: 200px;" action="login_login" method="post">
				<div class="form-group">
					<label for="exampleInputEmail1"style="color: beige;">用户名</label>
					<input type="text" class="form-control" id="exampleInputEmail1" placeholder="请输入账号" name="user_name">
				</div>
				<div class="form-group">
					<label for="exampleInputPassword1"style="color: beige;">密码</label>
					<input type="password" class="form-control" id="exampleInputPassword1" placeholder="请输入密码" name="user_passwd">
                                       
				</div>
				
				<button type="submit" class="btn btn-default">登录</button>
			</form>
		</div>

		<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
		<script src="__BOOSTRAP__/dist/js/bootstrap.min.js"></script>
	</body>

</html>