<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <table border="1">
            <tr>
                <td>序号</td>
                <td>用户名</td>
                <td>用户组</td>
                <td>昵称</td>
                <td>状态</td>
                <td>添加时间</td>
                <td>修改时间</td>
                <td>操作</td>
            </tr>
            {foreach $list as $v}
                <tr>
                    <td>{$v.id}</td>
                    <td>{$v.name}</td>
                    <td>{$v.group_name}</td>
                    <td>{$v.nickname}</td>
                    <td>{$v.status}</td>
                    <td>{$v.add_time}</td>
                    <td>{$v.up_time}</td>
                    <td><a href="{:url('admin/index/update',['id'=>$v['id']])}">修改</a>|删除</td>
                </tr>
            {/foreach}
        </table>
    </body>
</html>
