<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>新闻列表</title>
		<link href="__BOOSTRAP__/dist/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="__BOOSTRAP__/dist/css/style.css" />
	</head>

	  <body style="background-image: url(img/01d144554900b10000019ae9dee810.jpg);">
        
              <!--导航-->
              
        <div id="nav" style="background-color: silver;">
            <!--<div class="navbar navbar-default">-->
            <div class="container">
                <ul class="nav navbar-nav navbar-left">
                    <li class="active"><a href="#">前端开发</a></li>
                    <li><a href="#">后端开发</a></li>
                    <li><a href="#">人工智能</a></li>
                    <li><a href="#">编程语言</a></li>
                    <li><a href="#">游戏开发</a></li>
                </ul>
               
            </div>
            <!--</div>-->
        </div>
      
       <div class="container">
            <div class="panel panel-default">
               
                <div class="panel-heading" style="text-align:center;font-size: 40px;">这4点，可能对你求职面试有帮助</div>
                <div class="panel-body">
                    <div class="list-group">
                        <p style="font-size: 25px;">发布时间：2018年3月5日 00:00:00</p>
                      
                        <div style="padding:10px 10px 20px 10px;font-size: 20px;text-indent: 40px;">
                     
                     	 	今天和大家分享一些面试时，要注意的细节，希望对你有所帮助。



1、 尽量不要在纸质简历上标明期望薪资
关于期望薪资，在招聘简历上我们都会备注得很明显，这时纸质简历就可以不用再写期望薪资了。程序员这个行业，一般第一轮面试是笔试题，或是公司直接叫一位技术员来和你面谈。

如果我们一开始就在简历上标明期望薪资，我们假设一下，要是你面试时表现一般，这位面试官看了你在简历标明的薪资要求，要是你期望薪资比他目前的薪资高了好多，这样对你很不好，不要忽略了人都有一定的主观意识，在他眼里，你的技术水平不如他，期望薪资却在他之上，试问人家会怎么想，这种情况标明了期望薪资岂不是给自己添堵？

对于薪资要求，要是公司有意录用你时，自然会有HR和你面谈，这时你再和HR沟通也不迟。亦或是更高一层的领导和你面谈。

2、专业重点知识点要掌握牢固
毋庸置疑，专业知识点基础要做好充分准备，如果时间紧，来不及做充分准备，起码也要大致浏览一下，温故而知新，如果你是大神，请忽略。

3、回答面试官的问题时要抓重点
一般程序员的口才能力相对比较薄弱，如果是这样，建议你在面试过程中要学会扬长避短，针对面试官提出的问题，无论是技术问题还是谈人生，都要做到有的放矢，抓重点。

4、平时要培养独立思考，独自解决问题能力
有的开发者，一碰到问题，喜欢立马通过搜索引擎找到答案，认为这样效率高，其实不然，独立思考问题是一项很有意思的活。

开发过程中，难免会遇到各种各样的问题，这时，建议你先思考，实在不清楚的在通过搜索引擎或是其他方法解决。

相信你身边有不少这样的人：他们学习更倾向于被动接受知识，习惯人云亦云，遇到问题了，总是求助于他人，认为他们都有道理。

还有这样的人，相信你身边也不少：他们看问题总有自己的观点，而且观点新颖，想法深刻。

能独立思考问题的人，解决问题往往更实在，这就是独立思考的魅力了。

如果你是面试官，你更倾向选择哪类求职者呢。



                     	
                        </div>
                        <span style="float: right;font-size: 20px;">作者:赤赤</span>
                    </div>
                </div>
              
            </div>
        </div>
    
        <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
        <script src="__BOOSTRAP__/dist/js/bootstrap.min.js"></script>
    </body>

</html>