<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>博文列表</title>
        <link href="public/boostrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="public/boostrap/dist/css/style.css" />
        <style>
            .nav li.active{
                text-decoration: none;
                background-color: #eee;
            }
        </style>
    </head>
    <body>
        <!--导航-->
        <div id="nav">
            <!--<div class="navbar navbar-default">-->
            <div class="container">
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="index.php?c=Index&a=index&m=Home">首页</a></li>
                    <li><a href="index.php?c=List&a=hotList&m=Home">热点博文</a></li>
                    <li><a href="index.php?c=List&a=newList&m=Home">最新博文</a></li>
                </ul>
                {if $user != ""}
                <!-- Single button -->
                <div class="btn-group navbar-right">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {$user} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="http://localhost/web/index.php?m=Home&c=Fabu&a=index">发表博客</a></li>
                        <li><a href="http://localhost/web/index.php?m=Home&c=Index&a=getUserList">博客列表</a></li>
                        <li><a href="http://localhost/web/index.php?m=Home&c=Index&a=quit">退出</a></li>
                    </ul>
                </div>
                {else}
                <a class="btn btn-default navbar-right" href="http://localhost/web/index.php?m=Home&c=Index&a=login">登录</a>
                <a class="btn btn-default navbar-right" href="http://localhost/web/index.php?m=Home&c=Index&a=register">注册</a>
                {/if}
            </div>
            <!--</div>-->
        </div>
        <!--最新新闻-->
        <div class="container">
            <div class="panel panel-default">
                <div class="panel-heading">博文个人列表</div>
                <div class="panel-body">
                    <div class="list-group">
                        {foreach from=$List item=v name=foo}
                        {if $smarty.foreach.foo.index <16}
                        <a style="width:90%;" class="list-group-item" href="index.php?c=List&a=info&m=Home&id={$v.id}">{$v.title}</a>
                        <span data-id="{$v.id}" style="float: right;width:100px;line-height: 35px;margin-top: -42px;font-size: 16px;text-align: center;" class="badge">删除</span>
                        {/if}
                        {/foreach}
                    </div>
                </div>
            </div>
            <!--分页-->
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    {if $List["all"]>$List["num"]}
                    {if $page>1}
                    <li>
                        <a href="index.php?c=Index&a=getUserList&m=Home&page={$page-1}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {/if}
                    {for $i=1 to $List["countpage"]}
                    <li><a href="index.php?c=Index&a=getUserList&m=Home&page={$i}">{$i}</a></li>
                    {/for}
                    {if $page<$List["countpage"]}
                    <li>
                        <a href="index.php?c=Index&a=getUserList&m=Home&page={$page+1}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    {/if}
                    {/if}
                </ul>
            </nav>
        </div>


        <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
        <script src="public/boostrap/dist/js/bootstrap.min.js"></script>
    </body>
</html>
<script>
    {literal}
    $(".badge").click(function () {
        var id = $(this).attr("data-id");
        $.ajax({
            url: "index.php?c=Index&a=delete&m=Home&id="+id,
            success: function (data) {
                data = $.parseJSON(data);
                if (data.code == 100) {
                    alert(data.message);
                } else {
                  history.go(0);
                }
            }
        });
    });
    {/literal}
</script>

